asgiref==3.5.0
backports.zoneinfo==0.2.1
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
defusedxml==0.7.1
Django==4.0.2
django-ckeditor==6.2.0
django-etc==1.3.1
django-hitcount==1.3.5
django-jalali==6.0.0
django-jalali-date==1.0.1
django-js-asset==2.0.0
django-quill-editor==0.1.40
django-summernote==0.8.20.0
django-widget-tweaks==1.4.12
idna==3.3
jdatetime==4.0.0
oauthlib==3.2.0
packaging==21.3
Pillow==9.0.1
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.7
python-decouple==3.6
python3-openid==3.2.0
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
webencodings==0.5.1
