{% extends 'header.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="login-form">
    <h2 style="text-align: center">تغییر رمز عبور</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" style="width: 60%;margin: 30px auto;text-align: right;" role="alert">
              {{ message }}
              <button style="left: 0" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {% render_field form.email|add_class:"form-control" placeholder="ایمیل حساب کاربری خود را وارد کنید" %}
        </div>
        <button type="submit" class="btn btn-primary">ارسال</button>
        {% for error in form.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </form>
</div>
{% endblock content %}