{% extends 'header.html' %}
{% load static %}
{% block content %}
    <main class="font-article">
        <div class="container">
            <div class="box-article">
                <div class="left-menu">
                    <div class="article-list">
                        <div class="header-article-page">
                            {% for articles in pagination_article %}
                                <div class="thumbnail-image-back-page concerted">
                                    <div class="thumbnail-image-page concerted" style="background-image: url({{ articles.image.url }})">
                                    </div>
                                    <div class="info-news">
                                        {% for categorys in articles.category.all %}
                                            <span class="tag tag-red">{{ categorys.name }}</span>
                                        {% endfor %}

                                        <p class="time-data">{{ articles.get_jalali_date|date:"Y/m/d" }}</p>
                                        <div style="height: 4rem;margin: 0 0 27px 0;">
                                            <p class="title-news"><a href="{{ articles.get_absolute_url }}">{{ articles.title }}</a></p>
                                        </div>
                                        <div>
                                            <a class="btn-news"> <i class="fal fa-watch"></i> زمان مطالعه: 8 دقیقه</a>
                                            <a class="btn-news-like" href="#" role="button">3 <i class="far fa-comment"></i></a>
                                                {% if request.user.is_authenticated %}
                                                    <button onclick="likePost(this)" id="{{ articles.pk }}" class="btn-news-like-heart">
                                                      {{ articles.likes.count }}
                                                        {% if articles in liked_posts %}
                                                            <i class="fas fa-heart"></i>
                                                        {% else %}
                                                            <i class="far fa-heart"></i>
                                                        {% endif %}
                                                    </button>
                                                {% else %}
                                                    <button id="{{ articles.pk }}" class="btn-news-like-heart">
                                                        {{ articles.likes.count }}
                                                        <i class="far fa-heart"></i>
                                                    </button>
                                                    <script>
                                                        function TestSweetAlert(){
                                                            Swal.fire({
                                                              icon: 'error',
                                                              title: 'برای لایک کردن ابتدا وارد سایت شوید',
                                                              showConfirmButton: false,
                                                              timer: 1500
                                                            });
                                                        };

                                                        $('#{{ articles.pk }}').on("click",TestSweetAlert);
                                                    </script>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <script>
                                const likePost = function(button){

                                    post_id = $(button).attr('id');
                                    $.ajax({
                                        type:'POST',
                                        url: '{% url 'blog:like-post' %}',
                                        data: {
                                        'post_id': post_id,
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },

                                        success: function (response) {
                                            if(response.liked){
                                                current_likes = parseInt($('#' + post_id).html()) ;
                                                like_count = current_likes + 1
                                                $(button).html(like_count + ' <i class="fas fa-heart"></i>');
                                            }
                                            else{
                                                current_likes = parseInt($('#' + post_id).html()) ;
                                                like_count = current_likes - 1
                                                $(button).html(like_count + ' <i class="far fa-heart"></i>');
                                            };
                                        },

                                        error: () =>{
                                            console.log("sorry something went wrong");
                                        }
                                    })
                                };
                            </script>
                        </div>
                    </div>

                {% if pagination_article.has_other_pages %}
                  <ul class="pagination">
                    {% if pagination_article.has_previous %}
                      <li><a href="?page={{ pagination_article.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                    {% else %}
                      <li class="disabled"><span><i class="fas fa-angle-left"></i></span></li>
                    {% endif %}
                    {% for i in pagination_article.paginator.page_range %}
                      {% if pagination_article.number == i %}
                        <li class="activee"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if pagination_article.has_next %}
                      <li><a href="?page={{ pagination_article.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                    {% else %}
                      <li class="disabled"><span><i class="fas fa-angle-right"></i></span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
                <div class="right-menu">
                    <div class="category-list-article">
                        <p class="category-name">دسته‌بندی مقالات</p>
                        <hr>
                        <p class="programing">دسته بندی</p>
                        {% for categorys in category %}
                            <p class="list-category">{{ categorys.name }}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}