{% extends 'header.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="box-article">
                <div class="right-menu">
                    <div class="category-list">
                        <p class="text-category">آخرین مقالات</p>
                        {% for suggested in suggested_article %}
                            <div class="new-article">
                                <div class="text-a">
                                    <p class="title-suggested"><a href="{{ suggested.get_absolute_url }}">{{ suggested.title }}</a> </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="left-menu">
                    <div class="data-detail-article">
                        <div id="nav-article-detail">
                                <div class="navbar-article-detail">
                                    <div class="item-title-article-detail">
                                        <h3>{{ data.title }}</h3>
                                    </div> <br>
                                    <div class="item-list-article-detail">
                                        <p class="row-article"><i class="fad fa-blinds"></i>دسته بندی ها: {% for categorys in data.category.all %} <span class="tag tag-red">{{ categorys.name }}</span> {% endfor %}</p>
                                        <p class="row-article"><i class="fad fa-calendar-check"></i>تاریخ: {{ data.get_jalali_date|date:"Y/m/d" }}</p>
                                        <p class="row-article"><i class="fad fa-user-edit"></i> نویسنده: {{ data.user.first_name }} {{ data.user.last_name }}</p>
                                    </div>
                                </div>
                        </div>
                        <img class="image-article-detail" src="{{ data.image.url }}" alt="slm,jdscnsdnc">
                        <div class="data-detail">
                            {{ data.description|safe }}
                        </div>
                    </div>
                    <div class="comment-article">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {% render_field comment_form.name|add_class:"form-control" id='id_name_js' placeholder="نام شما" %}<br>
                            {% render_field comment_form.email|add_class:"form-control" id='id_name_js' placeholder="ایمیل شما" %}<br>
                            {% render_field comment_form.comment|add_class:"form-control" id='id_comment_js' placeholder="نظر شما چیست؟" %}<br>
                            <input type="hidden" name="next" value="{{next}}">
                            <button type="submit" class="btn btn-primary">ثبت نظر</button>
                        </form>
                        <hr>
                        {% for i in comment %}
                            <div class="comment-article-count">
                                <img class="image-user-comment" src="{% static 'img/prof.png' %}" alt="جنگو">
                                <p style="color: #8c8c8c;"> {{ i.name }} <b style="color: #535353;">گفت؟</b></p>
                            &nbsp;&nbsp;{{ i.comment }}<br>
                                {% if i.replycomment_set.all %}
                                    {% for foo in i.replycomment_set.all %}
                                        <div class="reply-comment">
                                                <img class="image-user-comment" src="{% static 'img/prof.png' %}" alt="جنگو">
                                                 <p> {{ foo.user_name }} <b>گفت؟</b></p>
                                                {{ foo.text }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        window.onload = function() {
          document.getElementById('id_name_js').value = '';
          document.getElementById('id_comment_js').value = '';
          }
    </script>
{% endblock %}