{% extends 'header.html' %}
{% load static %}
{% block content %}
    <!-- main html -->
    <main>
        <div class="container main-impo">
            <div class="image-photo">
                <img src="{% static 'img/main-about.png' %}" alt="" class='main-image'>
            </div>
            <div class="text-header-main" style="background-image: url({% static 'img/—Pngtree—geometric shapes patterns vector_3553180.png' %})">
                <p class="text-info-lorem">درباره من</p>
                <p class="text-info-lorem-mini">اسم من توحید و عاشق برنامه نویسی و چالش های این حوزه ، شروع داستان اینجا این بود که برای برنامه نویس های تازه وارد جنگو محتوای مناسبی در انجمن فارسی برای خطا ها و باگ های احتمالی وجود نداشت و تصمیم گرفتم که با کمک هم اینجارو گسترش بدیم و کمک کوچیکی بتونم کرده باشم  </p>
                <div class="button-join">
                    <p><a style="color: white; text-decoration: none" href="https://github.com/tohid-ab">بیشتر در مورد من</a> </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}